body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("background.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
}
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*content: url("https://s-media-cache-ak0.pinimg.com/736x/93/da/2c/93da2cb796f04e18762fad7e024d5d70.jpg")*/
 /* height: 400;
  width: 400;*/
 /* border:100px solid red;
  border-radius:100px;*/
  position: absolute;
  /*-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;*/

}

.blinky {
width: 320px;
  height: 231px;
  background-image: url('fred.png');
  background-repeat: no-repeat;

}
.flip {
/*  border-radius:100px;*/
  
  /*-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;*/
  /*display: block;*/
  width: 320px;
  height: 231px;
  background-image: url('marcus.png');
  background-repeat: no-repeat;
  /*-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;*/
}

.bounce {
/*  border-radius:100px;*/
  
  /*-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;*/
  /*display: block;*/
  width: 320px;
  height: 231px;
  background-image: url('erik.png');
  background-repeat: no-repeat;
  /*-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;*/
}

#button {
  float:right;
}